In [1]:
import pandas as pd
import numpy as np

In [2]:
# Initialize a Series
data_series = pd.Series([10, 20, 30, 40])
data_series.index = ['A', 'B', 'C', 'D'] 
print("Series with updated index:")
print(data_series)

Series with updated index:
A    10
B    20
C    30
D    40
dtype: int64

In [3]:
# Initialize a DataFrame
data = {
    'name': ['Ahmed'] * 3 + ['Ali', 'Sara', 'Omar', 'Laila', 'Ahmed', 'Hana', 'Mona'],
    'age': np.random.randint(18, 50, size=10),
    'gender': ['Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Male', 'Female', 'Female']
}
df = pd.DataFrame(data)

In [4]:
# Check DataTypes
print("\nDataFrame Data Types:")
print(df.dtypes)

DataFrame Data Types:
name      object
age        int32
gender    object
dtype: object

In [5]:
# Get first 3 rows in data
print("\nFirst 3 Rows:")
print(df.head(3))

First 3 Rows:
    name  age gender
0  Ahmed   23   Male
1  Ahmed   42   Male
2  Ahmed   43   Male

In [6]:
# Get last 4 rows in data
print("\nLast 4 Rows:")
print(df.tail(4))

Last 4 Rows:
    name  age  gender
6  Laila   27  Female
7  Ahmed   36    Male
8   Hana   21  Female
9   Mona   36  Female

In [7]:
# Get Statistical Measurements
print("\nStatistical Measurements:")
print(df.describe())

Statistical Measurements:
             age
count  10.000000
mean   35.600000
std     9.070097
min    21.000000
25%    29.250000
50%    36.500000
75%    42.750000
max    46.000000

In [8]:
# Get unique values in column 'name'
unique_names = df['name'].unique()
print("\nUnique Values in 'name' Column:")
print(unique_names)

Unique Values in 'name' Column:
['Ahmed' 'Ali' 'Sara' 'Omar' 'Laila' 'Hana' 'Mona']

In [9]:
# Duplicate age values
df['age_duplicate'] = df['age']  
print("\nDataFrame with Duplicate 'age' Column:")
print(df)

DataFrame with Duplicate 'age' Column:
    name  age  gender  age_duplicate
0  Ahmed   23    Male             23
1  Ahmed   42    Male             42
2  Ahmed   43    Male             43
3    Ali   37    Male             37
4   Sara   45  Female             45
5   Omar   46    Male             46
6  Laila   27  Female             27
7  Ahmed   36    Male             36
8   Hana   21  Female             21
9   Mona   36  Female             36

In [10]:
# Indexing and slicing
second_gender_iloc = df.iloc[1]['gender']
print("\nSecond value in 'gender' column using iloc:")
print(second_gender_iloc)

Second value in 'gender' column using iloc:
Male

In [11]:
# Get second value in column 'gender' using loc
second_gender_loc = df.loc[1, 'gender']
print("\nSecond value in 'gender' column using loc:")
print(second_gender_loc)

Second value in 'gender' column using loc:
Male

In [12]:
# Slicing with iloc from index 2 to index 5
slice_iloc = df.iloc[2:6]  
print("\nSlicing rows from index 2 to 5 using iloc:")
print(slice_iloc)

Slicing rows from index 2 to 5 using iloc:
    name  age  gender  age_duplicate
2  Ahmed   43    Male             43
3    Ali   37    Male             37
4   Sara   45  Female             45
5   Omar   46    Male             46

In [13]:
# Slicing with loc from index 2 to index 5
slice_loc = df.loc[2:5] 
print("\nSlicing rows from index 2 to 5 using loc:")
print(slice_loc)

Slicing rows from index 2 to 5 using loc:
    name  age  gender  age_duplicate
2  Ahmed   43    Male             43
3    Ali   37    Male             37
4   Sara   45  Female             45
5   Omar   46    Male             46